/* Comment 7.0 */

.comment {
  margin: 0 15px 17px 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: rgba(129, 129, 129, 0.1);

  padding: 10px;
  border-radius: 10px;
}

.comment-content {
  display: flex;
  align-items: center;
}

.comment-text {
  padding: 0;
  margin: 15px 0 10px 5px;
  max-width: 70%;
  word-wrap: break-word;
}

.commentInputContainer {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  border-top: 0.5px solid #d3d3d3;
}

.delete-comment-button {
  margin-left: auto;
}

.commentInput {
  border-radius: 10px;
  border: 10px solid transparent;
  width: 90%;
  padding: 5px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  resize: none;
  background-color: transparent;
  color: #fff;
}

.post-comment-button {
  /* border: 1px solid #03aab3; */
  background-color: transparent;
  color: #fff;
  border-radius: 0;
  margin: 0;
}

.comment-timestamp {
  color: rgb(156, 168, 179);
  font-size: 12px;
  margin: 0px;
}

textarea {
  border: 1px solid lightgray;
  outline: none;
}