.followerListContainer {
  max-height: 50vh;
  overflow-y: scroll;
}

.openFollowModalButton {
  cursor: pointer;
  padding: 0 15px 10px 15px;
}

.openFollowModalButton:hover {
  text-decoration: underline;
}

.user-follow-snippet {
  display: flex;
  align-items: center;
}

.followerModalTitle {
  color: rgb(184, 184, 184); 
}