body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

header {
  color: #fff;
  background-color: #482880;
  padding: 33px 0 25px 15px;
}

header p {
  width: 400px;
  margin: 0 auto;
}
header .wrapper {
  display: flex;
  justify-content: space-between;
}

header h1 {
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0.3px;
  display: inline-block;
  margin: 0;
  vertical-align: middle;
  
}

.fa {
  font-size: 22px;
  transform: translateY(50deg);  
}

header i {
  vertical-align: middle;
  margin-left: 12px;
}

.container {
  display: flex;
  max-width: 1100px;
  margin: 0 auto;
  padding-top: 30px;
}

.wrapper {
  max-width: 1100px;
  margin: 0 auto;
}

.add-item {
  border-radius: 2px;
  border-top: 3px solid #482880;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  padding: 60px 18px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
  margin-bottom: 34px;  
  width: 25%;
  height: 50%;
  margin-right: auto;
}

.display-item {
  width: 65%;
  margin-left: 50px;
}

.display-item button {
  margin-top: 20px;
  margin-left: auto;
  display: block;
}

.add-item form {
  width: 100%;
  overflow: hidden;
}

input {
  font-size: 22px;
  color: #000;
  padding: 18px 22px;
  font-size: 16px;
  margin-bottom: 17px;
  border: 0;
  display: block;
  width: 90%;
}

ul {
  /* display: flex;
  flex-wrap: wrap; */
  display: grid;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  flex-direction: column;
  width: calc(70% - 50px);
  height: 100%;
  list-style-type: none;
  margin-right: 50px;
  background-color: rgb(237, 237, 237);
  color: #000;
  margin-bottom: 10px;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,.14), 0 3px 3px -2px rgba(0,0,0,.12), 0 1px 8px 0 rgba(0,0,0,.2);
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

li h3 {
  background-color: #482880;
  margin: 0;
  color: #fff;
  font-weight: 300;
  padding: 15px;
}

li p {
  padding: 15px;
}

form button {
  width: 100%;
  margin-top: 10px;
}

button {
  border-radius: 2px;
  background-color: #03aab3;
  cursor: pointer;
  border: 0;
  min-width: 120px;
  color: #eee;
  font-size: 14px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.26);
  padding: 6px 6px;
  outline: none;
}

.user-profile {
  position: fixed;
  bottom: 20px;
  right: 40px;
  width: 100px;
  height: 100px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

/* Homepage - 1.0 */
.homepage-wrapper {
    height: 100vh;
    width: 100%;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(14, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}

.hero-image-container {
    grid-area: 1 / 1 / 14 / 8;
}

.hero-auth-container {
    background-color: #01014b;

    grid-area: 1 / 8 / 14 / 11;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media only screen and (max-width: 1000px){
    .hero-auth-container {
        grid-area: 9 / 1 / 14 / 11;
    }

    .hero-image-container {
        grid-area: 1 / 1 / 9 / 11;
    }
}

.hero-auth-page {
    width: 75%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-auth-page button {
    margin-top: 20px;
    width: 100%;
    border-radius: 20px;
}

.auth-modal {
    width: 40%;
}

.footer {
    background-color: #e9e9e9;
    width: 100%;
    padding: 20px 0;
    text-align: center;
    grid-area: 14 / 1 / 15 / 11;
}

/* Utility 2.0 */

/* size */
.w-49 {
    width: 49%;
}

/* position */
.centered-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* text */
.header-text {
    font-size: 30px;
    margin: 10px;
    font-weight: 600;
}

.slogan-text {
    font-size: 18px;
}

.text-light {
    color: whitesmoke;
}

.text-center {
    text-align: center;
}

.error-text {
    color: rgb(209, 72, 72);
}



/* Homepage Vaporwave Sun Logo 3.0 */
.scene {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: #120458;
}

.vaporwave-container {
  position: relative;
  height: 30vw;
  width: 30vw;
  overflow: hidden;
}

.sun {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 30vw;
  height: 30vw;
  background: radial-gradient(transparent 65%, #ff0488 100%), linear-gradient(#ffcb55 0, #ff0488 100%);
  border-radius: 50%;
  /* -webkit-animation: hue-rotate 60s ease-in-out infinite 5s;
          animation: hue-rotate 60s ease-in-out infinite 5s; */
}

.band {
  position: absolute;
  bottom: -6vw;
  width: 100%;
  height: 10%;
  background: #120458;
  -webkit-animation: wave 10s linear infinite;
          animation: wave 10s linear infinite;
}

@-webkit-keyframes wave {
  0% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY(-24vw) scaleY(0);
  }
}

@keyframes wave {
  0% {
    transform: translateY(0) scaleY(1);
  }
  100% {
    transform: translateY(-24vw) scaleY(0);
  }
}
@-webkit-keyframes hue-rotate {
  0% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}
@keyframes hue-rotate {
  0% {
    filter: hue-rotate(360deg);
  }
  100% {
    filter: hue-rotate(0deg);
  }
}