/* Element Defaults */

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #fff;
}

/* body::before{
  content:'';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background:linear-gradient(#f00,#f0F);
  clip-path:circle(50% at right 70%);
  ;
} */
button {
  border-radius: 15px;
  background-color: #03aab3;
  cursor: pointer;
  border: 0;
  color: #eee;
  font-size: 14px;
  padding: 6px 10px;
  outline: none;
}

form button {
  width: 50%;
  margin-top: 10px;
}

.close-modal {
    padding: 5px;
    background-color: rgb(148, 147, 147);
    height: 30px;
    width: 30px;
    border-radius: 20px;
    box-shadow: none;
}

.user-profile {
  width: 50px;
  height: 50px;
  margin: 0px 10px;
}

.user-profile img {
  border-radius: 50%;
  max-width: 100%;
}

input {
  font-size: 22px;
  color: #000;
  padding: 10px 10px;
  font-size: 16px;
  margin: 7px 0 17px 0;
  display: block;
  width: 95%;
  border-radius: 5px;
  border: 1px solid lightgray;
}

.inputError {
    background-color: rgb(255, 224, 224);
    border: 1px solid rgb(255, 111, 111);
    border-radius: 5px;
}

h2 {
  padding: 0;
  margin: 0;
  font-weight: 400;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none; 
}

li {
  color: #fff;
  margin-bottom: 30px;
}

li p {
  padding: 10px;
}

/* Utility 2.0 */

/* position */
.centered-flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.centered-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.flex-row {
  display: flex;
  align-items: flex-end;
}

.spaced-flex-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.flex-align-center {
  align-items: center;
}

/* text */

a {
  text-decoration: none;
  color: white;
}

.text-light {
    color: whitesmoke;
}

.text-center {
    text-align: center;
}

.error-text {
    color: rgb(209, 72, 72);
}






