.form-field {
    display: inline-block;
    margin-right: 20px;
  }
  
  .form-field:last-child {
    margin-right: 0;
  }
  
  .form-field-input {
    display: block;
  }
  
  .form-field-label {
    font-size: 12px;
  }